.footer{
    background-color: grey;
    width: 100%;
    color: white;
}
.header{
    background-color: grey;
    color: white;
}
.character{
    background: black;
    overflow-x: auto;
    white-space: nowrap;
}
.planet{
    background: black;
    overflow-x: auto;
    white-space: nowrap;
}
.background{
    background: black;
}
.card-text{
    overflow-wrap: break-word;
}


/* 
    General Styles
*/
